body {
  font-family: 'Kavoon', cursive;
  line-height: 1.6;
  background-color: #086b0d;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header, footer {
  background-color: #086b0d;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

header img {
  height: 50px;
  vertical-align: middle;
}

.topnav {
  background-color: #D89F5B;
  overflow: hidden;
  border-radius: 35px;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: #000000;
}

.topnav .icon {
  display: none;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

footer h2 {
  margin-bottom: 10px;
}

/* Estilo do cartão de denúncia */
.denuncia-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #000000;
  margin-top: 20px;
  font-size: 2em;
}


.denuncia-card {
  background-color: #D89F5B;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.denuncia-card .info {
  color: #000000;
}

.denuncia-card p {
  color: #000000;
}
